<div class="container">
  <h2 class="text-center my-4">IPL Teams</h2>
  <div class="row">
    <div *ngFor="let team of teams" class="col-md-4 mb-3">
      <div class="card p-3 shadow-lg" [ngStyle]="{'background-color': team.color}">
        <img [src]="team.logo" class="card-img-top" alt="{{ team.name }} Logo">
        <div class="card-body">
          <h4 class="text-white">{{ team.name | highlightChampion:team.titles }}</h4>
          <p><strong>Captain:</strong> {{ team.captain | uppercase }}</p>
          <p><strong>Coach:</strong> {{ team.coach | titlecase }}</p>
          <p><strong>Home Ground:</strong> {{ team.homeGround | titlecase }}</p>
          <p><strong>Titles Won:</strong> {{ team.titles | number }}</p>
          <p><strong>Team Value:</strong> {{ team.value | currency:'INR' }}</p>
          <p><strong>Founded On:</strong> {{ team.founded | date:'longDate' }}</p>
          <p class="text-white">{{ team.description | slice:0:100 }}...</p>
        </div>
      </div>
    </div>
  </div>
</div>
