<div class="team-container">

  <h2 class="team-name">{{ team.name }}</h2>

  <div class="team-info">
    <h1>{{ team.name }}</h1>
    <p><strong>Captain: </strong> {{ team.captain }}</p>
    <p><strong>Coach:</strong> {{ team.coach }}</p>
    <p><strong>Titles Won:</strong> <span class="highlight">{{ team.titles }}</span></p>
    <p><strong>Home Stadium:</strong> {{ team.homeStadium }}</p>
    <p><strong>Owner:</strong> {{ team.owner }}</p>
    <p><strong>Founded:</strong> {{ team.founded }}</p>
    <p><strong>Squad Strength:</strong> {{ team.squadStrength }}</p>
    <p><strong>Best Season Performance:</strong> {{ team.bestSeasonPerformance }}</p>
    <p><strong>Most Runs:</strong> {{ team.mostRuns }}</p>
    <p><strong>Most Wickets:</strong> {{ team.mostWickets }}</p>
    <p><strong>Total Matches Played:</strong> {{ team.totalMatchesPlayed }}</p>
  </div>
</div>
